/* Stylesheet */


body {
    background-image:url(/img/concert.jpg);
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}

#audio {
 text-align: center;
}

.boopbutton{
    width: 100px;
    height: 100px;
    background: gray;
    border-radius: 100px;
    text-align: center;
}
.soundboard {
    border-radius: 30px;
    background: #fff;
}


.keys {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    margin: auto;
}

.key {
    display: block;
    transition: all 0.06s;
    width: 100px;
    height: 100px;
}

.playing {
    border:0.5em solid #00c;
    color:#00c;
}

kbd {
    font-size: 35px;
    color: lightgrey;
}
