/* Stylesheet */

body {
    background-image:url(/img/concert.jpg);
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}

.keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}

.key {
    display: block;
    transition: all 0.06s;
    width: 100px;
    text-align: center;
}

.playing {
    -webkit-transform: scale(1.1);
    transform: scale(1.4);
}

kbd {
    display: block;
    font-stretch: 40px;
}
