/* Stylesheet */

body {
    background-image: url(/img/concert.jpg);
;}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}

#audio {
    text-align: center;
    padding-bottom: 30px;
}

.soundboard {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.16);
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.boopbutton {
    width: 120px;
    height: 120px;
    background: #0045a1;
    border-radius: 100px;
    text-align:center;
}


.keys {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}


#keybuttonz {
    font-size: 35px;
    color: lightgrey;
    margin-top: 50px;
}
/*
.key {
    display: block;
    transition: all 0.06s;
    width: 100px;
    height: 100px;
}
*/

.playing {
    border: 0.5em solid #fff;
    color: #00c;
}

span {
    
}
